.first-color {
  background: #36d1c4;
}

.second-color {
  background: #a0eecc;
}

.third-color {
  background: #fff2be;
}

.fourth-color {
  background: #f6318c;
}

.color-block {
  display: inline-block;
  height: 250px;
  width: 500px;
  text-align: center;
}

.colors {
  border: 1px solid dimgray;
  padding: 10px;
}
